.contact {
  background-color: rgba(58, 171, 228, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #291f1e;
  font-weight: 700;
}
.contact__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  color: #291f1e;
  padding: 0 10px;
}
.copy-button {
  font-weight: 700;
  font-size: 16px;
  color: #291f1e;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: copy;
}
@keyframes hvr-pulse {
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
}
.copy-button {
  transform: perspective(1px) translateZ(0);
}
.copy-button:hover {
  animation-name: hvr-pulse;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
.copy-button:focus {
  outline: 0;
}
.fab {
  padding: 0 10px;
  font-size: 40px;
  color: #291f1e;
  transition: 0.5s ease-in-out;
}
.fab:hover {
  color: #f76e48;
  transition: 0.5s ease-in-out;
}
.contact-icons {
  color: #291f1e;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-icons-flexitem a {
  color: #291f1e;
}
@media only screen and (min-width: 992px) {
  .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .contact__links {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
