.contact {
  margin-top: 100px;
  background-color: rgba(247, 144, 18, 0.8);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #3d348bff;
  font-weight: 700;
}
.contact__links {
  display: flex;
  align-items: center;
}
