.about {
  color: #463239;
  line-height: 30px;
  text-align: justify;
  display: flex;
  flex-direction: column;
}
.about__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 100%;
}
h1 {
  line-height: 50px;
}
.about__item {
  color: rgb(58, 171, 228);
}
.about__name {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.about__name h1 {
  font-size: 40px;
}
.about__photo {
  width: 50%;
  max-width: 300px;
  filter: saturate(0.1);
  transition: 0.3s ease-out;
}
.about__photo:hover {
  filter: saturate(0.6);
  transition: 0.3s ease-in;
}
.main__about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  margin: auto;
  text-align: justify;
}
.main-h2 {
  color: rgb(58, 171, 228);
}
.about__columns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.about__column {
  width: 90%;
  background-color: rgba(248, 223, 196, 0.6);
  padding: 30px;
}
@media only screen and (min-width: 768px) {
  .about__columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px;
    align-items: stretch;
  }
  .about__column {
    width: 45%;
  }
}
