.main {
  padding: 5px;
  background-color: rgba(118, 120, 237, 0.1);
}
.main__about-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.main__photo {
  width: 30%;
  padding-right: 30px;
  filter: saturate(0.1);
  transition: 0.3s ease-out;
}
.main__photo:hover {
  filter: saturate(1);
  transition: 0.3s ease-in;
}
.main__about {
  display: flex;
  flex-direction: column;
}
.main__about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 20px;
  padding: 5px;
  background-color: rgba(61, 52, 139, 0.1);
}
.main__about-text > h3 {
  margin: 0;
}
.main__about-img > .fab1 {
  font-size: 100px;
  padding: 30px;
  transform: rotate(90deg);
}
.main__about-img > .fab2 {
  font-size: 100px;
  padding: 30px;
  transform: rotate(160deg);
}
@media only screen and (min-width: 768px) {
  .main {
    padding: 0 100px;
  }
  .main__photo {
    width: 20%;
  }
  .main__about-heading {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .main__about {
    display: flex;
    flex-direction: row;
  }
  .main__about-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 30px;
    padding: 30px;
    background-color: rgba(61, 52, 139, 0.1);
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    border-radius: 20px;
  }
  .main__about-img {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
}
