*,
:after,
:before {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
  background-image: url('./img/background-tiny.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*  CSS HEX 
--dark-slate-blue: #3d348bff;
--medium-slate-blue: #7678edff;
--selective-yellow: #f7b801ff;
--tangerine: #f18701ff;
--orange-pantone: #f35b04ff; */
