.nav {
  background-color: rgba(247, 186, 1, 0.7);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  transition: 0.3s ease-out;
}
.nav:hover {
  background-color: rgb(247, 186, 1);
  transition: 0.3s ease-in;
}
.fab {
  color: #3d348bff;
  font-size: 20px;
}
.nav__logo {
  width: 20%;
}
.nav__links {
  font-weight: 700;
  font-size: 16px;
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.nav__links-item {
  text-decoration: none;
  color: #3d348bff;
}
.nav__links-item:hover {
  text-decoration: underline;
  text-decoration-color: #3d348bff;
  transition: 0.3s;
}
@media only screen and (min-width: 768px) {
  .nav__links {
    font-weight: 700;
    font-size: 30px;
    flex: 1 1 60%;
    display: flex;
    justify-content: flex-end;
  }
  .nav__links-item {
    padding-left: 40px;
  }
  .nav__logo {
    width: 20%;
  }
  .fab {
    color: #3d348bff;
    font-size: 40px;
  }
}
