.projects {
  background-color: rgba(248, 223, 196, 0.6);
}
.github-projects {
  margin-left: 20px;
  color: #291f1e;
  font-size: 40px;
}
.projects {
  padding: 0 30px;
}
.projects__about {
  display: flex;
  color: #291f1e;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  line-height: 30px;
}
.projects-img {
  width: 250px;
  border-radius: 10px;
}
.projects__item {
  color: rgb(58, 171, 228);
}
@media only screen and (min-width: 576px) {
  .projects-img {
    width: 400px;
    border: 1px solid rgba(41, 31, 30, 0.5);
  }
  .projects__about-img {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .projects__about-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media only screen and (min-width: 1200px) {
  .projects-img {
    width: 450px;
  }
}
