.github-projects {
  margin-left: 20px;
  color: #3d348bff;
  font-size: 40px;
}
.projects__about {
  display: flex;
  color: #3d348bff;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  margin: auto;
  line-height: 30px;
}
.projects-img {
  width: 250px;
  border-radius: 10px;
}
.projects-img-nike {
  margin-top: 16px;
}
@media only screen and (min-width: 576px) {
  .projects {
    padding: 0 30px;
  }
  .projects-img {
    width: 400px;
    border: 1px solid rgba(61, 52, 139, 0.4);
  }
  .projects__about-img {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .projects {
    padding: 0 100px;
  }
  .projects__about {
    padding: 0 40px;
  }
}
@media only screen and (min-width: 992px) {
  .projects__about-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .projects__about-text {
    padding-right: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  .projects-img {
    width: 450px;
  }
}
